# Database
MONGODB_URI=mongodb://admin:admin123@mongodb:27017/mydatabase?authSource=admin

# Server
PORT=3000
NODE_ENV=development

# JWT Secret (generate a strong random string!)
JWT_SECRET=your-super-secret-jwt-key-change-in-production

# Email Configuration (Gmail) для отправителя писем
# Get App Password from: https://myaccount.google.com/apppasswords
EMAIL_USER=your-email@gmail.com
EMAIL_PASS=your-16-char-app-password

# Test User (for development) тестовый пользователь будет создан с такой почтой/логином
TEST_USER=admin@example.com